/* Global */

body {
    padding-top: 85px;
    cursor: default;
    background: whitesmoke;
}

*, *:FOCUS, *:ACTIVE {
    outline: 0 !important;
}

body::-webkit-scrollbar {
    width: 3px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #2C3E50;
}

form * {
    margin-bottom: 30px;
}

form input.input-sm {
    margin-bottom: 10px;
}

.sticker, a, button, ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

/* Message */

.message-container{
    position: fixed;
    top: 60px;
    left: -40px;
}

.message-container ul li {
    border-radius: 0 0 30px 0;
    padding-right: 30px;
}

/* Sticker */

.sticker-container {
    height: 1500px;
}

.sticker-empty {
    display: none !important;
}

.sticker[no-description] .description {
    display: none !important;
}

.sticker.moving {
    cursor: move;
    border-style: 2px dashed;
    z-index: 1000;
    -webkit-box-shadow: -8px 8px 30px rgba(44, 62, 80, 0.3);
            box-shadow: -8px 8px 30px rgba(44, 62, 80, 0.3);
    -webkit-transform: perspective(900px) rotateY(30deg);
            transform: perspective(900px) rotateY(30deg);
}

.sticker {
    min-width: 50px;
    display: table;
    position: absolute;
    opacity: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
            transition: box-shadow 0.3s, transform 0.3s;
}
.sticker .title {
    -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
}