/* Global */

body {
    padding-top: 85px;
    cursor: default;
    background: whitesmoke;
}

*, *:FOCUS, *:ACTIVE {
    outline: 0 !important;
}

body::-webkit-scrollbar {
    width: 3px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #2C3E50;
}

form input,
form textarea {
    margin-bottom: 30px;
}

form .input-sm {
    margin-bottom: 10px;
}

a {
    -webkit-transition: color 0.2s, opacity 0.2s ease-in-out;
            transition: color 0.2s, opacity 0.2s ease-in-out;
}

.sticker, a, button, ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

/* Navbar */

.navbar-brand {
    opacity: 0.6;
    margin-right: 20px;
    color: #F7F125 !important;
}

.navbar-brand:HOVER {
    opacity: 1;
}

.navbar-brand img {
    display: inline-block;
    width: 30px;
    margin: -4px;
    margin-right: 2px;
    margin-top: -8px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
}

.navbar-default .navbar-nav > li > a:HOVER,
.navbar-default .navbar-nav > li > a:FOCUS,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:HOVER,
.navbar-default .navbar-nav > .open > a:FOCUS {
    color: #F7F125;
}

/* Message */

.message-container{
    position: fixed;
    top: 60px;
    left: -40px;
}

.message-container ul li {
    border-radius: 0 0 30px 0;
    padding-right: 30px;
}

/* Sticker */

.sticker-container {
    height: 1500px;
}

.sticker-empty {
    display: none !important;
}

.sticker-outer {
    padding: 10px;
}

.sticker[no-description] .description {
    display: none !important;
}

.sticker.moving {
    cursor: move;
    border-style: 2px dashed;
    z-index: 1000;
    -webkit-box-shadow: -8px 8px 30px rgba(44, 62, 80, 0.3);
            box-shadow: -8px 8px 30px rgba(44, 62, 80, 0.3);
    -webkit-transform: perspective(900px) rotateY(30deg);
            transform: perspective(900px) rotateY(30deg);
}

.sticker {
    min-width: 50px;
    display: table;
    position: absolute;
    border-color: #F7F125;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transition: box-shadow 0.3s, transform 0.3s;
            transition: box-shadow 0.3s, transform 0.3s;
}

.sticker .title {
    color: rgba(0, 0, 0, 0.7);
    background-color: #F7F125;
    border-color: #F7F125;
    font-family: cursive;
    font-weight: bold;
    -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
}

.sticker .description {
    background: rgba(247, 241, 37, 0.4);
    color: rgba(0, 0, 0, 0.7);
    font-family: cursive;
}