body {
    padding-top: 85px;
    cursor: default;
    background: whitesmoke;
}

*, *:FOCUS, *:ACTIVE {
    outline: 0 !important;
}

body::-webkit-scrollbar {
    width: 3px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #2C3E50;
}

audio {
}

#page {
    height: 2500px;
}

.message-container{
    position: fixed;
    top: 60px;
    left: -40px;
}

.message-container > ul > li {
    border-radius: 0 0 30px 0;
    padding-right: 30px;
}

.sticker, a, button, ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.sticker {
    min-width: 50px;
    display: table;
    position: relative;
    opacity: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transition: box-shadow 0.3s, transform 0.3s ease-in-out;
            transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.sticker.moving {
    border-style: 2px dashed;
    z-index: 1000;
    -webkit-box-shadow: -8px 8px 30px rgba(44, 62, 80, 0.3);
            box-shadow: -8px 8px 30px rgba(44, 62, 80, 0.3);
    -webkit-transform: perspective(900px) rotateY(35deg);
            transform: perspective(900px) rotateY(35deg);
}

.sticker > .panel-heading {
    -webkit-border-radius: 0;
            border-radius: 0;
}

.sticker > .panel-heading:ACTIVE {
    cursor: move;
}

.sticker-close {
    width: 30px;
    height: 31px;
    margin: -26px;
    margin-right: -8px;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    opacity: 0.5;
    padding: 0;
    line-height: 1px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
}