{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}

        {# Sticker list #}

        <div class="sticker-container" style="display: none">

            {% if latest_stickers %}

                {% for sticker in latest_stickers %}

                    <div class="sticker-outer">

                        <div class="sticker panel panel-primary"data-id="{{ sticker.id }}"data-color="{{ sticker.color }}"title="{{ sticker.date | timesince }} ago by {{ sticker.author.username }}" {% if not sticker.description %}no-description{% endif %} {% if not sticker.color %}no-color{% endif %}>

                            <div class="color" style="background: {{ sticker.color }}"></div>
                            
                            <div class="title panel-heading">
                                {{ sticker.title }}
                            </div>
                            
                            <div class="description panel-body">
                                {{ sticker.description | linebreaksbr }}
                            </div>

                        </div>

                    </div>

                {% endfor %}

            {% endif %}

        </div>

        {# No sticker message #}

        <div class="oh-no-stickers text-center" style="margin-top: 40px; display: none">
            <strong>No Stickers</strong>
            <h1 style="font-size: 10em">&#x1f60f;</h1>
        </div>

        {# Empty sticker to clone from #}

        <div class="sticker-empty sticker-outer">
            <div class="sticker panel panel-primary" data-id="0" no-description no-color>
                <div class="color"></div>
                <div class="title panel-heading"></div>
                <div class="description panel-body"></div>
            </div>
        </div>

    {% else %}

        {% include "stickers/include/authenticate.html" %}

    {% endif %}

{% endblock %}