{% extends "base.html" %}
{% block content %}
    {% if latest_stickers %}
        {% for sticker in latest_stickers %}
            <div class="sticker-outer" style="padding: 10px;">
                <div class="sticker panel panel-default panel-primary" 
                     data-id="{{ sticker.id }}" 
                     title="{{ sticker.date | timesince }} ago by {{ sticker.author.username }}">

                    <div class="header panel-heading">
                        {{ sticker.title }} 
                    </div>
                    
                    {% if sticker.description %}
                        <div class="panel-body">
                            {{ sticker.description | linebreaksbr }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <br><br>
        <div class="text-center">
            <strong>No Stickers</strong>
            <h1 style="font-size: 10em">:-(</h1>
        </div>
    {% endif %}
{% endblock %}